<section class="todoapp">
  <header class="header">
    <h1>待办事项</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="desc" (keyup.enter)="addTodo()">
  </header>
  <section class="main" *ngIf="todos?.length > 0">
    <input class="toggle-all" type="checkbox">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.completed">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodo(todo)" [checked]="todo.completed">
          <label (click)="toggleTodo(todo)">{{todo.desc}}</label>
          <button class="destroy" (click)="removeTodo(todo); $event.stopPropagation()"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos?.length > 0">
    <span class="todo-count">
      剩余 <strong>{{todos?.length}}</strong> 条
    </span>
    <ul class="filters">
      <li><a href="">所有</a></li>
      <li><a href="">未完成</a></li>
      <li><a href="">完成</a></li>
    </ul>
    <button
      class="clear-completed"
      (click)="removeCompletedTodos(); $event.stopPropagation()">
      清除已完成
    </button>
  </footer>
</section>
